#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

body {
  background: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(8, 8, 8);
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.432);
}
.app-container {
  display: flex;
}
