.card {
  background-color: rgb(0, 0, 0);
  border: 8px solid rgb(255, 255, 255);
  padding: 20px 50px 30px;
  color: rgb(255, 255, 255);
  position: relative;
  width: 1200px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 60px;
}
