.entry-button {
  background-color: rgb(0, 0, 0);
  width: 300px;
  font-size: 20px;
  font-weight: 700;
  border: solid 3px rgb(255, 255, 255);
}
.entry-button:hover {
  background-color: rgb(37, 37, 37);
  border-color: rgb(255, 255, 255);
}
